#container {
	display:flex;  /* quel est le nom de la technologie ? */
	flex-direction:column; /* ces boites s'affichent le long de la colonne verticale*/
	max-width:900px;
	margin:3 auto;
}
#containerM {
	display:flex; /* quel est le nom de la technologie ? */
	flex-direction:row; /* ces boites s'affichent en rangée horizontale */
}
aside {
	flex:3;  /* moi je prends x slices de la grille */
}
article {
	flex:5; /* moi je prends y slices de la grille */
}
nav {
	flex:2;	/* moi je prends z slices de la grille */
}						/* donc il y a x+y+z slices tranches de fenêtre */
header,footer {
	background: #5b4e00;
	color:white;
	text-align:center;  /* le centre en francais */
}
article,aside,nav {
	padding:5px;
}
article h2:first-child {
	margin-top:0;
}
aside,nav {
	background:#eee;
}
aside h2,nav h2 {
	margin:0;
}
nav ul {
	list-style:none;
	margin:0;
	padding:0;
}
nav ul a {
	text-decoration:none;
}
nav ul a:hover {
	text-decoration:underline;
}