.flex-container {
	display: flex; 
	flex-direction: row; 
	flex-wrap:wrap;
	justify-content:center;
	background-color:grey;
}

.flex-item {
	background-color:yellow;
	width:200px;
	margin:10px;
	text-align:center;
	line-height:100px;
	font-size:50px;
}

#container {
	display:flex;
	flex-direction:row;
	max-width:900px;
	margin:3 auto;
}
#containerM {
	display:flex;
	flex-direction:column;
}
header{
	background: #245b00;
	color:#3c67a0;
	text-align:center;
}
footer{
	background: #ffd900;
	color:#893ca0;
	text-align:center;
}
article,aside,nav {
	padding:5px;
}
article h2:first-child {
	margin-top:0;
}
nav {
	background:#00aeff;
}
aside h2,nav h2 {
	margin:0;
}
nav ul {
	list-style:none;
	margin:0;
	padding:0;
}
nav ul a {
	text-decoration:none;
}
nav ul a:hover {
	text-decoration:underline;
}

/* espacement */
/*22h08 22h53 23h49*/
  th {
    padding: 10px;
	border-collapse: separate;
    border: 3px solid black;
  }

  table {
	border-width:1px;
	border-style:solid;
    border-collapse: collapse;
	border-color:black;
	width:50%;
	}

   td { 
	border-width:1px;
	border-style:solid;
	border-color:black;
	width:50%;
	}

	a {
		color : blue;
		text-decoration: none;
	}
